@media screen and (max-width:400px) {
   /* Navbar section start here */
   .navContainer{
      flex-direction: column;
      font-size: 20px;
   }
   .nav-item-container{
      flex-direction: column;
      gap: 10px;
      width: 100%;
   }
   .logo-container{
      justify-content: center;
   }
   .btn{
      width: 100%;
      text-align: center;
   }
   /* Banner section start here */
   .banner-section{
      flex-direction: column;
      gap: 20px;
   }
   .banner-text{
      width: 100%;
   }
   .banner-img{
      width: 100%;
   }
   /* All product start here */
   .product-container {
      grid-template-columns: repeat(1, 1fr);
   }
}